[submodule "sft"]
	path = sft
	url = https://github.com/softhink25/sft_pago_servicios.git
	branch = 14.0
[submodule "oca"]
	path = oca
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 14.0
[submodule "oca/account-financial-reporting"]
	path = oca/account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 14.0
[submodule "oca/server-tools"]
	path = oca/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 14.0
[submodule "sft/sft_pago_servicios"]
	path = sft/sft_pago_servicios
	url = git@github.com:softhink25/sft_pago_servicios.git
[submodule "sft/sft_pos_partial_pay"]
	path = sft/sft_pos_partial_pay
	url = git@github.com:softhink25/sft_pos_partial_pay.git
